<div class="container">
    <div class="filter">
    <select [(ngModel)]="selectedFilter" (change)="applyFilter()" class="form-control">
        <option value="monthly">Monthly</option>
        <option value="yearly">Yearly</option>
        <option value="custom">Custom Date Range</option>
      </select>
      
      <input class="form-control" *ngIf="selectedFilter === 'custom'" type="date" [(ngModel)]="startDate">
      <input class="form-control" *ngIf="selectedFilter === 'custom'" type="date" [(ngModel)]="endDate">
      <button class="btn btn-dark" *ngIf="selectedFilter === 'custom'" (click)="applyFilter()">Apply</button>
    </div>
    <section class="sectionOne">
        <div class="card h-100">
            <div class="row gap-4 gap-sm-0">
                <div class="col-md-12">
                    <h2 class="mb-4">Earning Reports</h2>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="d-flex gap-2 align-items-center">
                    <div class="badge rounded bg-label-primary p-1"><i class="icon-base ti tabler-currency-dollar icon-18px"></i></div>
                    <h6 class="mb-0 fw-normal">Earnings</h6>
                  </div>
                  <h4 class="my-3 text-left">{{ totalIncome ? (totalIncome | currency : 'INR') : '₹0' }}</h4>
                  <div class="progress w-75" style="height:4px">
                    <div class="progress-bar" role="progressbar" [style.width.%]="incomePercentage" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-12 col-sm-4" *ngIf="isExceedingIncome; else showSavings">
                  <div class="d-flex gap-2 align-items-center">
                    <div class="badge rounded bg-label-info p-1"><i class="icon-base ti tabler-chart-pie-2 icon-18px"></i></div>
                    <h6 class="mb-0 fw-normal">Over Spent</h6>
                  </div>
                  <p class="my-3 text-left"><strong>Warning!</strong> Your expenses exceed your income by: 
                    {{ overspendAmount ? (overspendAmount | currency : 'INR') : '₹0'}}</p>
                  <div class="progress w-75" style="height:4px">
                    <div class="progress-bar bg-info" role="progressbar" [style.width.%]="overspentPercentage" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="d-flex gap-2 align-items-center">
                    <div class="badge rounded bg-label-danger p-1"><i class="icon-base ti tabler-brand-paypal icon-18px"></i></div>
                    <h6 class="mb-0 fw-normal">Expense</h6>
                  </div>
                  <h4 class="my-3 text-left">{{totalExpense ?(totalExpense | currency: 'INR') : '₹0'}}</h4>
                  <div class="progress w-75" style="height:4px">
                    <div class="progress-bar bg-danger" role="progressbar" [style.width.%]="expensePercentage" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
        </div>

        <div class="card h-100">
            <div class="no-chart-message" *ngIf="pieData.length === 0">
              No chart data available!!!
            </div>
            <div class="chart-wrapper" *ngIf="pieData.length > 0">
              <div class="pie-chart" [ngStyle]="pieChartStyle"></div>
              <ul class="legend">
                <li *ngFor="let item of pieData">
                  <span class="dot" [ngStyle]="{ 'background-color': item.color }"></span>
                  {{ item.label }} ({{ item.value }}%)
                </li>
              </ul>
            </div>
          </div>
          
    </section>

    <section class="sectionTwo mt-5">
        <div class="card">
            <div class="d-flex align-items-center justify-content-between">
            <h2 class="mb-4">Transaction History</h2>
            <button class="btn btn-primary"  [routerLink]="['/transactions']">View More</button>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Expenses</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let txn of filteredTransactions | slice:0:10">
                    <td>{{ txn.type }}</td>
                    <td>{{ txn.expensecategory }}</td>
                    <td>{{ txn.expense }}</td>
                    <td [ngClass]="{'text-success' : txn.type === 'income', 'text-danger' : txn.type === 'expense' }">{{ txn.amount | currency }}</td>
                    <td>{{ txn.date }}</td> 
                </tr>
            </tbody>
            <tfoot *ngIf="filteredTransactions.length === 0">
                <tr>
                  <td colspan="4" class="text-center">No data found!!!</td>
                </tr>
              </tfoot>
        </table>
        </div>
    </section>

</div>

<ng-template #showSavings>
    <div class="col-12 col-sm-4">
        <div class="d-flex gap-2 align-items-center">
          <div class="badge rounded bg-label-info p-1"><i class="icon-base ti tabler-chart-pie-2 icon-18px"></i></div>
          <h6 class="mb-0 fw-normal">Savings</h6>
        </div>
        <h4 class="my-3 text-left">{{ totalSavings ? (totalSavings | currency : 'INR') : '₹0'}}</h4>
        <div class="progress w-75" style="height:4px">
          <div class="progress-bar bg-info" role="progressbar" [style.width.%]="savingsPercentage" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
</ng-template>